.pageOne {
    width: 877px;
    margin: auto;
    position: relative;
}

.pageOne .main {
    width: 800px;
    height: 660px;
    position: absolute;
    top: 253px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 10px #00000029;
    border: 1px solid #F7F7F7;
    border-radius: 30px;
}

.fourInarow {
    position: absolute;
    top: 72px;
    left: 323px;
}

.fourInarowImg {
    width: 509px;
    height: 532px;
}

.play {
    width: 132px;
    height: 132px;
    background: #FF7243 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 50px #FF724373;
    border-radius: 20px;
    margin-top: 101px;
    margin-left: 116px;
    margin-bottom: 167px;
    text-align: center;
}

.pageOne .flexRow {
    display: flex;
    flex-direction: row;
    margin: 30px;
}